<div id="moduleRegister" class="pages">
  <div fxLayout="row" class="tab" fxLayoutGap="16px">
    <button  mat-icon-button class="btn-back" (click)="goHome(3406)" color="primary">
      <mat-icon >chevron_left</mat-icon>
    </button>
    <div
      [ngClass]="{ done: step > 0, active: step == 1 }"
      (click)="handleStep(1)"
      fxLayout="column"
      class="tab-group"
    >
      <p class="tab-item">Cadastro de módulo</p>
      <span class="tab-border"></span>
    </div>
    <div
      [ngClass]="{ done: step > 1, active: step == 2, disabled: dataTableModule.length < 1}"
      (click)="handleStep(2)"
      fxLayout="column"
      class="tab-group"
    >
      <p class="tab-item">Cadastro de tela</p>
      <span class="tab-border"></span>
    </div>
  </div>

  <div class="content-scroll" *ngIf="step === 1" fxLayout="row">
    <div class="envolti-table mat-elevation-z8" fxLayout="column">
      <table #table mat-table [dataSource]="dataTableModule" #Table>
        <ng-container matColumnDef="identifier">
          <th mat-header-cell *matHeaderCellDef>
            {{ "access_security.identifier" | translate }}
          </th>
          <td mat-cell *matCellDef="let Module">
            {{ Module.identifier }}
          </td>
        </ng-container>

        <ng-container matColumnDef="moduleName">
          <th mat-header-cell *matHeaderCellDef>
            {{ "access_security.module_name" | translate }}
          </th>
          <td mat-cell *matCellDef="let Module">
            {{ Module.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="inactive">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="margin-top: 17px; margin-left: 50px"
          >
            Status
          </th>
          <td mat-cell class="information" *matCellDef="let Module">
            <button
              disabled
              [ngClass]="Module.inactive == 1 ? 'inactive' : 'active-button'"
              mat-button
            >
              {{ Module.inactive == 1 ? "Inativo" : "Ativo" }}
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="icon">
          <th mat-header-cell *matHeaderCellDef style="text-align: end">
            <button
              class="edit-button"
              mat-flat-button
              (click)="openModuleDialog()"
            >
              <mat-icon>add</mat-icon>
            </button>
          </th>
          <td
            class="button-tab"
            mat-cell
            *matCellDef="let activity; let index = index"
          ></td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  <div
    class="content-scroll"
    *ngIf="step === 2"
    fxLayout="row"
  >
    <div class="envolti-table mat-elevation-z8" fxLayout="column">
      <table #table mat-table [dataSource]="dataTableScreen" #Table>
        <ng-container matColumnDef="moduleName">
          <th mat-header-cell *matHeaderCellDef>
            {{ "access_security.module_name" | translate }}
          </th>
          <td mat-cell *matCellDef="let Screen">
            {{ Screen.Module ? Screen.Module.name : "Módulo não encontrado" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="screenName">
          <th mat-header-cell *matHeaderCellDef>
            {{ "access_security.screen" | translate }}
          </th>
          <td mat-cell *matCellDef="let Screen">
            {{ Screen.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="icon">
          <th mat-header-cell *matHeaderCellDef style="text-align: end">
            <button
              class="edit-button"
              mat-flat-button
              (click)="openScreenDialog()"
            >
              <mat-icon>add</mat-icon>
            </button>
          </th>
          <td
            class="button-tab"
            mat-cell
            *matCellDef="let activity; let index = index"
          ></td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumnsScreen; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsScreen"></tr>
      </table>
    </div>
  </div>
</div>
