<div id="module" class="dialog">
  <div class="content-scroll" *ngIf="moduleForm">
    <div class="content-header" fxLayout="row">
      <h2 class="title-content" mat-dialog-title>Cadastro de Módulos</h2>
      <button mat-icon-button class="mat-icon-content" (click)="close()">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
    <div class="dialog-content">
      <mat-dialog-content class="mat-typography">
        <form [formGroup]="moduleForm" fxLayout="column" class="form-content">
          <div fxFlex="100" fxLayoutGap="16">
            <mat-form-field fxFlex="60" appearance="outline">
              <mat-label>{{
                "access_security.module_name" | translate
              }}</mat-label>
              <input
                matInput
                placeholder="Nome do Módulo"
                formControlName="name"
                [errorStateMatcher]="matcher"
              />
              <mat-error
                *ngIf="
                  moduleForm && moduleForm.controls['name'].hasError('required')
                "
              >
                {{ "validators.required" | translate }}
              </mat-error>
            </mat-form-field>
            <div fxFlex="20" class="checkbox">
              <mat-checkbox
                color="primary"
                class="custom-check"
                class="custom-frame"
                formControlName="inactive"
                fxLayoutAlign="center center"
                >Inativo</mat-checkbox
              >
            </div>
            <div class="button-form" fxFlex="20" fxLayoutAlign="center">
              <button
                class="button-form"
                [disabled]="moduleForm.invalid"
                mat-flat-button
                color="primary"
                (click)="saveModule()"
              >
                <mat-icon>save</mat-icon>
              </button>
            </div>
          </div>
        </form>
      </mat-dialog-content>
    </div>
  </div>
</div>
