<div id="screenDialog" class="page">
  <div class="title">
    <h2 fxLayoutAlign="start">
      {{ "access_security.register_screen" | translate }}
    </h2>
  </div>
  <div fxLayout="column" class="content-scroll" *ngIf="screenForm">
    <form [formGroup]="screenForm" fxLayout="column">
      <div fxFlex="100" fxLayoutAlign="space-between" fxLayoutGap="25px">
        <mat-form-field fxFlex="10" appearance="outline">
          <mat-label>{{ "access_security.identifier" | translate }}</mat-label>
          <input matInput disabled />
        </mat-form-field>

        <mat-form-field
          fxFlex="40"
          class="example-full-width"
          appearance="outline"
        >
          <mat-label>Módulos</mat-label>
          <input
            type="text"
            placeholder="Módulo"
            aria-label="text"
            #filter
            matInput
            [matAutocomplete]="auto"
            [formControl]="moduleControl"
          />
          <mat-autocomplete
            autoActiveFirstOption
            #auto="matAutocomplete"
            [displayWith]="displayFn"
          >
            <mat-option *ngFor="let module of filteredModules" [value]="module">
              {{ module.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field fxFlex="35" appearance="outline">
          <mat-label>Nome da Tela</mat-label>
          <input matInput placeholder="Nome da tela" formControlName="name" [errorStateMatcher]="matcher"/>
          <mat-error
            *ngIf="
              screenForm && screenForm.controls['name'].hasError('required')
            "
          >
            {{ "validators.required" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-checkbox
          class="checkbox"
          color="primary"
          fxFlex="6"
          formControlName="inactive"
          fxLayoutAlign="center start"
          >Inativo</mat-checkbox
        >
        <div fxLayoutAlign="center" class="button" fxFlex="10">
          <button [disabled]="moduleValid === false || screenForm.invalid" (click)="saveScreen()" mat-flat-button color="primary">
            <mat-icon>save</mat-icon>
          </button>
        </div>
      </div>
    </form>

    <div class="envolti-table mat-elevation-z8" fxLayout="column">
      <table #table mat-table [dataSource]="dataTable" #Table>
        <ng-container matColumnDef="moduleName">
          <th mat-header-cell *matHeaderCellDef>
            {{ "access_security.module_name" | translate }}
          </th>
          <td mat-cell *matCellDef="let Screen">
            {{ Screen.Module.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="screenName">
          <th mat-header-cell *matHeaderCellDef>
            {{ "access_security.screen" | translate }}
          </th>
          <td mat-cell *matCellDef="let Screen">
            {{ Screen.name }}
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
