#profileRegister {
    width: 100%;


    .content-scroll{
        margin-top: 1px;
        padding: 20px;
    }

    .title{
      margin-left: 20px;
      // margin-top: 0 !important;
    }

    .go-back-button{
      margin-top: 25px !important;
    }
    

    .mat-dialog-content {
        overflow: auto;
        height: calc(100% - 600px);
    }

    .mat-tree-node-superior{
      background-color: #208fd8;
      color: #fff;
      padding-right: 16px;
      border-radius: 10px;
      margin-top: 16px;
      
    }

    .mat-tree-node{
      background-color: #fbfbfb !important;
      color: #677076;
      padding-right: 16px;
      // margin-left: 0 !important;
      // border-radius: 10px;
      
    }

    .custom-frame {
      & .mat-checkbox-background,
      .mat-checkbox-frame {
        border-radius: 70% !important;
        // background-image: url(../assets/icons/fundo-branco.jpg);
        // width: 20px;
        // height: 20px;
      }
    }

    .header-group{
      font-size: 20px;
      margin-top: 0 !important;
    }

    .subtitle-group{
      margin-left: 15px !important;
      margin-top: 4.2px !important;
    }

    // .custom-check{
    //   margin-left: 0 !important;
    // }

    .example-checkbox{
      margin-top: 2px !important;
    }

    .mat-icon-rtl{
      margin-top: 0 !important;
    }
    

    .divider{
      height: 5px !important;
      background-color: black;
    }

    // .progress-bar{
    //   margin-top: 50px;
    //   width: 1050% !important;
    // }


    .example-margin{ 
        color: #fbfbfb;
        margin-top: 0 !important;
    }

    .box-check{
      margin-right: 10px !important;
      margin-left: 40px !important;
    }

    // .example-subtitle{
    //   margin-left: 10px  !important;
    // }

    .mat-icon-rtl-mirror{
      margin-top: 3px !important;
    }


    .example-tree-invisible {
        display: none;
      }
      
      .example-tree ul,
      .example-tree li {
        margin-top: 0;
        margin-bottom: 0;
        list-style-type: none;
      }

      .example-tree .mat-nested-tree-node div[role=group] {
        padding-left: 40px;
      }
      
      .example-tree div[role=group] > .mat-tree-node {
        padding-left: 40px;
      }

      .categoriesPermission{
        margin-right: 30px;
      }

      .button-form-config {
        height: 60px;
        margin-top: 5px;
        margin-right: 10px;
    }

    mat-tree-node:hover{
      background: #D0E7EF !important;
      border-radius: 10px !important;
    }

    mat-tree{
      background-color: transparent !important;
    }
    
    .mat-tree-node-superior:hover{
      background: #009CDE!important;
    }
}

::ng-deep.custom-frame {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-radius: 70% !important;
    // width: 20px;
    // height: 20px;
  }
}


