<div id="profileRegister" class="page">
  <div  fxLayout="row">
    <button  mat-icon-button (click)="goHome()" >
      <mat-icon class="back-button">chevron_left</mat-icon>
    </button>
    <h2 class="title">Cadastro de perfis</h2>
  </div>
  <div class="content-scroll" *ngIf="profileForm">
    <form [formGroup]="profileForm" fxLayout="column">
      <div fxFlex="100" fxLayoutGap="16px">

        <mat-form-field fxFlex="90" appearance="outline">
          <mat-label>Nome do Perfil</mat-label>
          <input
          [errorStateMatcher]="matcher"
            matInput
            placeholder="Nome do Perfil"
            formControlName="name"
          />
        </mat-form-field>
        <div fxFlex="10" fxLayout="row">
          <button (click)="initForm()" class="button-form-config" mat-button color="primary">
            <mat-icon>close</mat-icon>
          </button>
          <button (click)="save()" class="button-form-config" color="primary" mat-flat-button [disabled]="profileForm.invalid">
            <mat-icon>save</mat-icon>
          </button>
        </div>
      </div>

      <div fxLayout="row" fxFlex="100">
        <mat-tree
          fxFlex="100"
          class="divTree"
          [dataSource]="dataSource"
          [treeControl]="permissionControl"
          class="example-tree"
        >
          <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
            <div class="mat-tree-node-superior" *ngIf="node.Screens.length > 0">
              <button
                mat-icon-button
                matTreeNodeToggle
              >
                <mat-icon class="mat-icon-rtl-mirror">
                  {{
                    permissionControl.isExpanded(node)
                      ? "expand_more"
                      : "chevron_right"
                  }}
                </mat-icon>
              </button>
              <div  fxFlex="100" fxLayoutAlign="start center">
                <div class="header-group" fxFlex="50">
                  {{ node.name }}
                </div>
                <div fxFlex="50" fxLayoutAlign="space-between">
                  <p>Acessar</p>
                  <p>Adicionar</p>
                  <p>Alterar</p>
                  <p>Deletar</p>
                </div>
              </div>
            </div>
            <div
              [class.example-tree-invisible]="
                !permissionControl.isExpanded(node)
              "
              role="group"
            >
              <ng-container matTreeNodeOutlet></ng-container>
            </div>
          </mat-nested-tree-node>
          <mat-tree-node *matTreeNodeDef="let node" >
            <div class="mat-tree-node"  fxLayout="row" fxFlex="100" class="permissionGlobal" >
              <div>
                <mat-checkbox
                fxFlex="5"
                class="custom-frame example-checkbox"  
                [checked]="checked"
                [disabled]="true"
              ></mat-checkbox>
              </div>
              <div class="subtitle-group" fxLayout="row" fxFlex="45" fxLayoutAlign="start center">
                {{ node.name }}
              </div>
              <div fxFlex="50" class="box-check" fxLayoutAlign="space-between center">
                <div>
                  <mat-checkbox
                  color="primary"
                  class="custom-frame example-margin custom-check"
                  (change)="function($event, 'acess', node.id)"  
                ></mat-checkbox>
                </div>


                <mat-checkbox
                color="primary"
                class="custom-frame example-margin"
                (change)="function($event, 'add', node.id)"  
                ></mat-checkbox>

                <mat-checkbox
                color="primary"
                class="custom-frame example-margin"
                (change)="function($event, 'update', node.id)"  
                ></mat-checkbox>

                <mat-checkbox
                color="primary"
                class="custom-frame example-margin example-check"
                (change)="function($event, 'delete', node.id)"  
                ></mat-checkbox>
              </div>
            </div>
          </mat-tree-node>
        </mat-tree>
      </div>
    </form>
  </div>
</div>
